//顏色
$c-primary: #AA0601; //header,footer主要背景色
$white: #FFF;
$text: #000;
$pro-color-main: #5F3E2D;
$pro-color-secondary: #B75929;

//字體大小
$font-md: 16px;
$font-lg: 24px;
$font-md-mb: 32px;
$font-lg-mb: 42px;

//url
// $url-image: '../header_desktop.png';
