<nav class="nav bg-color">
    <div class="container navbar-wrap">
        <a class="nav-logo" href="index.html"><img src="../assets/images/logo-white.png" alt="index-logo"></a>
        <ul class="navbar">
            <li class="navbar-item"><a class="nav-link hover" href="product.html">系列鏡框</a></li>
            <li class="navbar-item"><a class="nav-link hover" href="shop.html">門市據點</a></li>
            <li class="navbar-item"><a class="nav-link hover" href="blog.html">部落格</a></li>
            <li class="navbar-item"><a class="nav-link hover" href="qa.html">常見問題</a></li>
        </ul>
    </div>
</nav>