.container {
  @include container;
}
.bg-color{
  background-color: $c-primary;
  color: $white;
}
.navbar-wrap{
  @include mobile{
      flex-direction: column;
      /* column 換行 
      移除左右 padding 再加入 max-width: 100%; 讓導覽列能變為滿版 */
      padding-left: 0;
      padding-right: 0;
      max-width: 100%;
    }
}
.nav{
  padding: 16px 0;
  @include mobile{
      padding-bottom: 0;
      /* li設置白線後會發現有上一行設定的padding
      上下16px，這裡不需要下方16px */
  }
}
.nav-logo{
  width: 80px;
  @include mobile {
      margin: 0 0 16px 16px;
      /* 上右下左 ， 下左推出16px */
  }
}
.navbar{
  display: flex;
  align-items: center;
  @include mobile {
      flex-wrap: wrap;
      /* 將navbar-item設定成換行 */
  }
}
.navbar-item{
  height: 100%;
  /* 滿版寬度為100%，後面平板50%、手機也同50% */
  @include mobile{
      width: 50%;
      border: 1px solid $white;
      margin-right: 0px;
  }
}
.nav-link{
  font-size: $h5-font-size;
  color: $white;
  display: block;
  padding: 0 32px;
  display: flex;
  align-items: center;
  font-weight: bold;
  height: 100%;
  @include mobile{
      font-size: $h6-font-size;
      padding: 12px 0;
      justify-content: center;
  }
}
.hover:hover{
  opacity: 0.8;
}
.navbar-item:last-child .nav-link{
  padding-right: 0;
}